* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100vw;
}

.header {
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
  padding: 2px 0;
  background-color: rgba(41, 39, 43, 0.911);
  color: white;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  padding: 8px 16px;
  /*margin-left: auto;*/
}

.top-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.911);
  padding: 40px 0;
  color: white;
  min-height: 300px;
  gap: 20px;
}

.awesome-text {
  max-width: 500px;
}

h1 {
  color: #eee;
  font-size: 48px;
}

.awesome-text > .welcome-text {
  color: #aaa;
  font-size: 24px;
}

.dobby-img {
  display: flex;
  max-width: 400px;
  height: auto;
  border-radius: 49%;
  filter: blur(1px);
  border: 3px solid red;
  box-shadow: 0 2px 30px 5px red;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.877);
  gap: 0 45px;
  padding: 40px 0;
}

h2 {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 20px 0;
  justify-content: center;
  text-align: center;
  flex-basis: 100%;
  font-size: 30px;
  color: white;
}

.info-img {
  max-width: 200px;
  height: 200px;
  /*border: 1px solid red;*/
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 9px 1px rgb(161, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 200px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(119, 119, 119);
  padding: 20px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  width: 50%;
  margin: 0 auto;
  gap: 10px;
}

.quote > .attribution {
  display: flex;
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: 40px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  padding: 40px 0;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  border-radius: 5px;
  padding: 3rem 6rem;
  width: 60%;
  justify-content: space-between;
  box-shadow: 0 2px 8px 1px rgba(56, 56, 56, 0.842);
  border: 1px solid #aaa;
}

.action-header {
  font-size: 20px;
  font-weight: bold;
  flex: 1 1 100%;
}

.action-call {
  font-size: 16px;
}

.action-container > button {
  align-self: center;
  background-color: #eee;
  border-radius: 5px;
  padding: 8px 16px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(32, 26, 51);
  color: white;
}

.action-wrapper,
.quote-wrapper, 
.info-wrapper, 
.top-wrapper {
  flex: 1 1 auto;
}